.button {
  width: 100%;
  padding: $spacing-md;
  font-size: $spacing-base;
  font-weight: $font-weight-bold;
  color: $white;
  background-color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all $effect-duration ease-in-out;

  &:hover {
    color: $primary-color;
    background-color: $light-bg;
    border: 2px solid $border-light;
  }

  &:active {
    color: $white;
    transform: scale(0.98);
    background-color: $active-dark;
  }
}
