/* #region header */
.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: $font-weight-bold;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;
  }

  &__bottom {
    padding-bottom: $spacing-3xl;

    @include on-tablet {
      padding-bottom: $spacing-5xl;
    }
  }
}
