.icon {
  display: block;
  width: $spacing-xl;
  height: $spacing-xl;
  background-size: cover;
  background-position: center;

  &--phone {
    background-image: url(../../images/icons/call.png);

    &::after {
      content: '+1 234 5555-55-55';
      position: absolute;
      width: max-content;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      font-family: Inter, Arial, sans-serif;
      font-size: $spacing-sm;
      font-weight: $font-weight-bold;
      letter-spacing: 2px;
      color: $main-text-color;
      text-align: right;
      vertical-align: middle;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(../../images/icons/menu.png);

    &:hover {
      background-image: url(../../images/icons/menu-hover.png);
    }
  }
  &--close {
    background-image: url(../../images/icons/close.png);
  }

  @include hover(transform, scale(1.4));
}
