.page {
  font-family: 'Space Grotesk', Arial, sans-serif;
  color: $primary-color;
  font-size: $spacing-base;
  line-height: 140%;

  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;
    transition: all $effect-duration;
    transform: translateX(-100%);
    pointer-events: none;
  }

  &__menu:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }
}
