.section-title {
  margin-bottom: $spacing-4xl;
  font-weight: $font-weight-bold;
  font-size: $spacing-2xl;
  line-height: 100%;
  color: $main-text-color;
  text-align: left;

  @include on-tablet {
    margin-bottom: $spacing-5xl;
    font-size: $spacing-3xl;
  }

  @include on-desktop {
    font-size: $spacing-4xl;
  }
}
