.top-bar {
  padding-block: $spacing-xl;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: $spacing-5xl;
  }

  &__icons {
    display: flex;
    gap: $spacing-xl;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: $spacing-base;

    @include hover(transform, scale(1.4));

    @include on-tablet {
      height: $spacing-xl;
    }
  }
}
